@import url('https://fonts.googleapis.com/css?family=family=Raleway|PT+Sans+Caption');

body {
  font-family: 'PT Sans Caption', Arial, sans-serif;
  cursor: default;
}

.content{
  margin: 0 30px 0 30px;
  padding: 0 30px 0 30px;
}

h1{
	text-align: left;
	font-family: 'Raleway', Arial, cursive;
	font-size: 70px;
	text-align: left;
	position: fixed;
	width: 100%;
	background-color: white;
	top: 0;
	height: 150px;
	padding: 0; 
	margin: 0;
	display: flex;
	align-items: center;
	z-index: 3;
	color: black;
}

.header{
	margin-bottom: 160px;
}

.userData{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 25px;
}

.userData img{
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 50px;
}

.albumCover img{
	width: 250px;
	height: auto;
	margin-right: 50px;
	padding: 20px;
	opacity: 0.95;
}

.topTracks{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
	background: linear-gradient(#DBEDFF, #F9F1FD);
}

.topTracks h3{
	font-size: 38px;
	margin: 0;
	color: black;
}

ul {
	list-style: none;
	padding:0;
	margin: 0;
}

ul li{
	font-size: 28px;
	margin-right: 15px;
}

.artistNames{
	color: black;
	font-size: 28px;
}

.description{
	position: fixed;
	width: 86%;
	text-align: left;
	font-size: 18px;
	top: 115px;
	/*background-color: white;*/
	z-index: 4;
}

.description p{
	margin: 0;
	font-weight: bold;
}

.popularityDescription{
	width: 30%;
	font-size: 16px;
	background-color: white;
	position: absolute;
	left: 50%;
}

.popularityDescription p{
	color: blue;
	border: 1px solid blue;
	margin: 0;
	font-weight: bold;
	padding: 5px;
}


.mouseOverPopularity{
	display: inline-block;
	color: black;
	font-size: 24px;
	margin: 0;
}

.popularity{
	display: inline-block;
}



/*.description p:hover{
	color: blue;
	border: 1px solid blue;
	cursor: url('./icons/compact-disc.png'), auto;
}*/

.exportPlaylist {
	cursor: url('./icons/music-player.png'), auto;
}

.exportPlaylist h2{
	color: #1a1b1a;
	position: fixed;
	top: 30px;
	left: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	z-index: 4;
	border: 2px solid #1a1b1a;
}

.exportPlaylistLink{
	text-decoration: none;
}

.exportPlaylistLink h2:hover{
	color: #4a1efa;
	border: 2px solid #4a1efa; /* link hover color */
}

.number p{
	font-size: 42px;
	margin-right: 50px;
}

/* Play Song */
.songbox{
	margin-top: 6px;
	background-color: #FAFAFA;
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: flex-start;
}

.playbox{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playbutton{
	margin-top: 3px;
	margin-left: 2px;
}

audio{
	margin-top: 5px;
	position: relative;
	right: 10px;
}

.hide{
	display:none;
}

/* Sign In */
.outerSignInDiv{
	height: 98vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

/* Smaller Screen sizes */
@media only screen and (max-width : 1024px) {
	h1{
		font-size: 44px;
	}

	.description{
		font-size: 16px;
	}

	.exportPlaylist h2{
		top: 36px;
		left: 400px;
		font-size: 18px;
	}

	.albumCover img{
		width: 200px;
	}

	.topTracks h3{
		font-size: 28px;
		margin: 0;
		color: black;
	}

	.artistNames{
		color: black;
		font-size: 22px;
	}

	.mouseOverPopularity{
		font-size: 20px;
	}
}

@media only screen and (max-width : 727px) {
	.topTracks{
		flex-direction: column;
	}

	h1{
		font-size: 42px;
	}

	.description{
		font-size: 18px;
	}

	.exportPlaylist h2{
		top: 40px;
		left: 380px;
		font-size: 16px;
	}
}

@media only screen and (max-width : 655px) {

	h1{
		font-size: 42px;
	}

	.description{
		top: 150px;
		font-size: 16px;
	}

	.exportPlaylist h2{
		top: 90px;
		left: 60px;
		font-size: 16px;
	}
	.header{
		margin-bottom: 200px;
	}
}

@media only screen and (max-width : 556px) {

	body {
	  margin: 0 10px 0 10px;
	  padding: 0 10px 0 10px;
	  font-family: 'PT Sans Caption', Arial, sans-serif;
	  cursor: default;
	}

	.topTracks h3{
		font-size: 20px;
		margin: 0;
		color: black;
	}

	.artistNames{
		color: black;
		font-size: 18px;
	}

	.mouseOverPopularity{
		font-size: 17px;
	}

	.header{
		margin-bottom: 230px;
	}

	audio{
		width: 200px !important;
	}
}

@media only screen and (max-width : 380px) {

	h1{
		font-size: 42px;
		text-align: center;
	}

	.description{
		top: 150px;
		font-size: 14px;
		width: 90%;
		background-color: white;
	}

	.albumCover img{
		width: 150px;
		margin: 0;
	}

	.topTracks h3{
		font-size: 20px;
		margin: 0;
		color: black;
		text-align: center;
	}

	.artistNames{
		color: black;
		font-size: 18px;
		text-align: center;
	}

	.mouseOverPopularity{
		font-size: 17px;
		text-align: center !important;
		position: relative;
		left: 15px;
	}

	ul{
		width: 150px;
		margin: 0 auto;
	}
	li{
		text-align: center;
		margin: 0 !important;
	}

	.trackContent{
		width: 150px;
		margin: 0 auto;
	}

	.header{
		margin-bottom: 230px;
	}

	audio{
		width: 150px !important;
	}
}








