@import url('https://fonts.googleapis.com/css?family=Contrail+One|PT+Sans+Caption');

body {
  margin: 30px;
  padding: 30px;
  font-family: 'PT Sans Caption', Arial, sans-serif;
  cursor: default;
}
h1{
	text-align: left;
	font-family: 'Contrail One', Arial, cursive;
	font-size: 60px;
	text-align: left;
}

.userData{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 25px;
}

.userData img{
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 50px;
}

.albumCover img{
	width: 300px;
	height: auto;
	margin-right: 50px;
}

.topTracks{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
}

.topTracks h3{
	font-size: 32px;
	margin: 0;
}

ul {
	list-style: none;
	padding:0;
	margin: 0;
}

ul li{
	font-size: 28px;
	margin-right: 15px;
}

.description{
	position: fixed;
	width: 250px;
	text-align: center;
	font-size: 18px;
	top: 10%;
	right: 60px;
	background-color: white;
}

.popularityDescription{
	width: 30%;
	font-size: 16px;
	background-color: white;
	position: absolute;
	left: 50%;
}

.popularityDescription p{
	color: blue;
	border: 1px solid blue;
	margin: 0;
	font-weight: bold;
	padding: 5px;
}


p.mouseOverPopularity{
	display: inline-block;
	margin: 0;
}

.popularity{
	display: inline-block;
}

.description p{
	margin: 0;
	font-weight: bold;
	border: 1px solid black;
	padding: 10px;
}

/*.description p:hover{
	color: blue;
	border: 1px solid blue;
	cursor: url('./icons/compact-disc.png'), auto;
}*/

.exportPlaylist {
	cursor: url('./icons/music-player.png'), auto;
}

.exportPlaylist h2{
	color: black;
	position: fixed;
	top: 250px;
	right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: white;
	border: 1px solid white;
}

.exportPlaylistLink{
	text-decoration: none;
}

.exportPlaylistLink h2:hover{
	color: blue;
	border: 1px solid blue;
}

.number p{
	font-size: 42px;
	margin-right: 50px;
}

/* Play Song */
.songbox{
	margin-top: 6px;
	background-color: #FAFAFA;
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: flex-start;
}

.playbox{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playbutton{
	margin-top: 3px;
	margin-left: 2px;
}

audio{
	margin-top: 5px;
	position: relative;
	right: 10px;
}

audio:hover{
	cursor: pointer;
}






