body {
  margin: 15px;
  padding: 15px;
  font-family: sans-serif;
}
h1{
	text-align: center;
}

.numText{
	display: flex;
	justify-content: space-around;
}
.search{
	text-align: center;
}
/*.playlists{
	display: flex;
	justify-content: space-around;
}*/